.running {
    background-color: lightcyan;
}
.numberToMatch {
    background-color: lightyellow;
}
.winColor {
    background-color: lightgreen;
}
.lossColor {
    background-color: lightsalmon;
}
